<div class="container-fluid">
    <div class="col-md-12">
        <h2>New Article</h2>
        <form class="newArticleForm">
            <div class="form-group col-6">
                <label for="new-Article-Title">Title</label>
                <input type="text" class="form-control" id="new-Article-Title" placeholder="Title Here">
            </div>
            <div class="form-control">
                <div class="form-group">
                    <label for="new-Article-Content">Article Content</label>
                    <textarea class="form-control" id="new-Article-Content" rows="10" placeholder="Article Content Here"></textarea>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary submit" id="btn-save" type="submit">Post Article</button>
                    <button class="btn btn-warning submit" id="btn-cancel" type="reset">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/newArticle.js"></script>