<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 gx-4 mb-4">
            <section class="intro">
                <h2><strong>Welcome to Tech-Knowledge E-Blog</strong> </h2>
                <p>Join our blog community to:</p>
                <ul>
                    <li>Contribute your own Tech articles</li>
                    <li>Leave Comments on previously posted articles</li>
                </ul>
                <p>Sign up is <strong>FREE</strong> join today!</p>
            </section>
        </div>

        <div class="col-md-5 gx4 mb-4">
            <section class="sign-up-form">
                <h2>Sign Up</h2>
                <form class="signupForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username-signup" placeholder="Enter Username">
                        <small id="usernameHelp" class="form-text text-muted">Your username must be between 2 and 36 characters in length.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password-signup" placeholder="Enter Password">
                        <small id="passwordHelp" class="form-text text-muted">Your password must be at least 8 characters in length.</small>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" id="btn-signup" type="submit">Sign Up</button>
                        <div><a class="btn my-2" id="btn-signin" href="/signin" rel="noreferrer noopener"><span>Already have an account? <strong>Sign In</strong></span></a></div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>